*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.body{
    background-color: rgb(9, 9, 10);
}
html{
    scroll-behavior: smooth;
}
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: rgb(72, 59, 187);
    color: black;
    box-shadow: 0 0 10px rgb(95, 61, 200);
    
}
.navbar img{
    align-self: center;
    height: 50px;
}

.main{
    display: flex;
    justify-content:center;
    align-items:center;
    height: 840px;
    background: url('bg4.jpg') no-repeat center/cover;
    background-color: rgba(0, 0, 0, 0.497);

}
.headings{
    color: aliceblue;
    font-family: monospace;
    font-size:10vh;
}
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
    background: linear-gradient(rgb(54, 50, 90),rgb(171, 157, 193));
    height: 500px;
}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
    color: azure;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;

}
.headings2{
    align-self:flex-start;
    color: aliceblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}
